/* CSS Document */
@charset "UTF-8";
* {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
}
.head2{
	margin:0;
	width:100%;
}
.main {
	margin:auto;
	width:770px;
	background-color:#FFFFFF;
	padding:5px;
}
.head2 td{ padding:3px 10px;}
.list {
	background-color: #FFF;
	padding: 0px;
}
body{
background:#FFF url(../images/public/index2007/bg.jpg) repeat-x top left;
margin:0;
padding:0;
text-align:center;
font-family:Arial, Helvetica, sans-serif;
color:#333333;
font-size:12px;
line-height:1.5em;
}
h1{ font-size:24px; color:#000000; margin:0;}
h2{ font-size:20px; color:#000000; margin:0;}
h3{ font-size:18px; color:#000000; margin:8px 0 5px 0;}
h4{ font-size:16px; color:#000000; margin:0;}
h5{ font-size:14px; color:#000000; margin:0;}
a{ color:#244a01; text-decoration:none;}
a:hover {color:#000000; text-decoration:underline;}
form{margin:0; padding:0;}
input{border: solid 1px #999999; color:#000000; font-size:12px; margin:0; padding:0;}
ul{list-style:none; margin:0; padding:0;}
li{background:url(../images/public/index2007/icon1.gif) no-repeat left 8px;margin:0; padding:0 0 0 8px;}
p{ margin:5px 0; padding:0px; text-indent:2em;}

#wrap{margin:0 auto 0 auto; padding:0; width:990px; text-align:center; }
#head{height:93px; padding:0 0 0 20px;}
#head img{
float:left;
width:298px;
margin:0;
padding:0;
}
#head div{
float:right;
width:600px;
margin:0;
padding:0;
text-align:right;
}
#head .search{
background:url(../images/public/index2007/search_bg.gif) no-repeat left top;
width:325px;
height:40px;
padding:12px 0 0 40px;
margin:0;
font-size:13px;
font-weight:bold;
text-align:left;
}
#head .button{
background:#f4641d url(../images/public/index2007/button_Bg.gif) repeat-x left top;
color:#000;
font-weight:bold;
padding:0 3px;
}
#nav{
background:url(../images/public/index2007/nav_bg.jpg) repeat-x left bottom;
width:966px;
font-size:13px;
font-weight:bold;
list-style:none;
padding:0 0 0 18px;
height:27px;
}
#nav li{background:#FFFFFF; float:left; margin:0; padding:0;}
#nav a{
float:inherit;
display:block;
margin:0 0 0 2px;
padding:7px 0 0 3px;
text-decoration:none;
color:#FFFFFF;
width:82px;
height:20px;
background:url(../images/public/index2007/nav_link.gif) no-repeat left top;
}
#nav a:hover{
float:inherit;
display:block;
margin:0 0 0 2px;
padding:7px 0 0 3px;
text-decoration:none;
color:#000;
width:82px;
height:20px;
background:url(../images/public/index2007/nav_hover.gif) no-repeat left top;
}
#nav .now{
float:left;
display:block;
margin:0 0 0 2px;
padding:7px 0 0 3px;
text-decoration:none;
color:#000;
width:82px;
height:20px;
background:url(../images/public/index2007/nav_now.gif) no-repeat left top;
}
#main{
background:url(../images/public/index2007/main_bg.jpg) repeat-y  left top;
width:982px;
text-align:center;
margin:0 auto;
padding:0 4px;
float:left;
}
#content{
background:url(../images/public/index2007/content_bg.jpg) repeat-x left top;
text-align:left;
margin:0;
padding:0;
float:left;
width:100%;
}

#left{
width:590px;
padding:16px;
float:left;
}
#banner{background:url(../images/public/index2007/banner.gif) no-repeat left top; margin:0; padding:20px 0 10px 30px; height:166px;}
#banner h1{color:#417206; margin:5px 0 0 0;}
#banner h3{color:#666; margin:10px 0 0 0;}
.banner_left{float:left; margin:20px 0 0 0; width:100px;}
.banner_right{float:right; margin:10px 0 0 0; width:450px; font-weight:bold;}
.banner_img{margin:5px; background:#fff; list-style:none; float:left;}


#campaign {
margin:0;
padding:0;
float:left;
}
#campaign h3{color:#FF3300;}
#campaign div{float:left;}
#campaign ul{ margin:0; padding:6px 0; float:right; width:190px;}
#campaign ul a{text-decoration:underline; font-weight:bold; color:#27600C;}
#campaign ul a:hover{text-decoration:non; font-weight:bold; color:#000;}
#campaign li{ background: none;list-style:none; padding:0; margin:0;}
#campaign .div_img{ border:2px solid #cbcbcb; text-align:center; vertical-align:middle; height:55px; width:70px; float:left; margin:5px 0px 0px 0px; }
#campaign img{float:left; width:90px; margin:0px; padding:0px;}
 border:2px solid #cbcbcb;
#campaign img a:hover{float:left; border:2px solid #89c23e; width:90px; margin:5px 0; padding:0;}
div.leftm{float:left; width:290px;}
div.rightm{float:right; width:290px;}

/*网站主与广告主流程*/
#process ul{list-style:none; margin:0; padding:8px 0 0 0;}
.processtab {text-align:left;}
.processtab LI {FLOAT: left; CURSOR:pointer;}
.step {BACKGROUND: #fff; BORDER: #95bf05 5px solid; WIDTH:560px; float:left; }
.step LI {  background:#FFFFFF; PADDING-TOP: 2px; float:left;}
#web_owner {BACKGROUND:url(../images/public/index2007/green_bg.gif) no-repeat left top; padding:7px 0 0 15px; WIDTH:82px; height:17px; font-weight:bold;}
#advertiser {BACKGROUND:url(../images/public/index2007/gay_bg.gif) no-repeat left top; padding:7px 0 0 15px; WIDTH:82px; height:17px;font-weight:bold;}
#web_step{margin:0; padding:5px 0 5px 10px;}
#web_step ul{margin:0; padding:0;}
#web_step li{ background:#FFFFFF;float:left; padding:3px 3px 6px 3px;}
#web_step li a{ background:#FFFFFF; float:left; padding:2px; border:1px solid #f4f4f4;}
#web_step li a:hover{ background:#FFFFFF; float:left; padding:2px; border:1px solid #8fba04;}

#ad_step{margin:0; padding:5px 0 5px 10px; display:none;}
#ad_step ul{margin:0; padding:0;}
#ad_step li{  background:#FFFFFF; float:left; padding:3px 3px 6px 3px;}
#ad_step li a{float:left; padding:2px; border:1px solid #f4f4f4;}
#ad_step li a:hover{float:left; padding:2px; border:1px solid #8fba04;}

.wzzqh {
BACKGROUND-POSITION: 0% 100%;
}
.p_style{ 
margin:0; text-align:left;
}


/*常见问题*/
.q_left{
float:left;
width:270px;
}
/*论坛热帖*/
.bbs_right{
float:right;
width:290px;}



#right{
float:right;
width:340px;
padding:20px 20px 16px 0;
}
/*注册窗口*/

#wzzlogin {BACKGROUND:url(../images/public/index2007/green_bg1.gif) no-repeat left top; padding:6px 0 0 15px; margin:0; WIDTH:82px; height:20px; font-weight:bold;}
#ggzlogin {BACKGROUND:url(../images/public/index2007/gay_bg.gif) no-repeat left top; padding:6px 0 0 15px; margin:0; WIDTH:82px; height:20px;font-weight:bold;}
#freelogin {BACKGROUND:url(../images/public/index2007/free.gif) no-repeat left top; padding:6px 0 0 12px; margin:0; WIDTH:115px; height:20px;font-weight:bold;}
#logintab ul{margin:0; padding:0; background:none; CURSOR: pointer; list-style:none;}
#logintab li{ float:left;}


#loginbox {WIDTH:324px; float:left; border:8px solid #6bb804; margin:0; padding:0; text-align:left;}
#loginbox ul{ list-style:none;}
#loginbox li{background:none;}
.loginlist { padding:10px; text-align:right;}
.loginlist LI {CLEAR: both; MIN-HEIGHT: 30px;}
.loginfun { text-align:right;}
.loginfun LI { float:right; margin:5px 0 0 3px;}



.mystory{clear:both; padding:5px 0 0 0;
}
.right_title_bg{
background:#89c320 url(../images/public/index2007/right_title_bg.gif) no-repeat left top;
padding:7px 0 2px 15px;
width:320px;
margin:20px 0 0 0;
color:#fff;
}
.right_text{
clear:both;
width:320px;
}
.font_green{
color:#4c9d10;
}
#about_dw{
width:330px; margin:0 0 5px 0;}
#about_dw p{
float:left; width:200px;}
#about_dw p a{
font-weight:bold; text-decoration:underline;}
#about_dw img{
float:right; margin:5px;}
.clear{clear:both;}
#about_dw ul{margin:0; padding:0}
#right_service{padding:0; margin:0; height:60px;}
#right_service li{ background:#FFFFFF; width:100px; float:left; margin:5px 3px 0 0; text-align:center;}
#right_service li a{float:left; padding:2px; border:1px solid #f4f4f4;text-decoration:none;}
#right_service li a:hover{float:left; padding:1px; border:1px solid #8fba04; text-decoration:none;}

.contact_left{float:left; margin:10px; padding:0;}
.contact_right{float:right; margin:10px; padding:0 20px;}
#bottom{
background:url(../images/public/index2007/bottom_bg.jpg) no-repeat left top;
width:100%;
height:50px;
padding:20px 0 0 0;
float:left;
}
#bottom img{
float:right;
margin:0;
}
#bottom p{
float:left;
margin:0;
padding:0 0 0 160px;
text-align:right;
}


/*n内页CSS补充*/
#submenu{
padding:10px 20px 2px 30px; margin:0; border-bottom:1px solid #ccc; font-size:12px; color:#000; font-weight:bold;}
#submenu a{font-size:13px; color:#27600c; font-weight:normal;}
.sider_bar{ background:#f4f4f4; width:280px; padding:10px 15px; float:right;}
.sider_bar a{ color:#27600c; border-bottom:1px solid #fff; display:block;}
.sider_bar h4{ font-size:14px; margin:12px 0 0 0;}
.sider_content{width:610px; float:left; padding:10px 10px 10px 25px;}
.sider_content h5{margin:15px 0 0 0;}
.sider_content h4{ color:#FF6600; margin:10px 0 0 0;}

.sider_bar2{ background:#f4f4f4; width:280px; padding:10px 15px; float:right;}
.sider_bar2 h3{color:#27600c; margin:5px 0 0 0;}
.sider_all{ margin:10px 0 0 0; padding:0; clear:both; height:80px;}
.sider_left { background:url(../images/public/index2007/sv_bg.gif) no-repeat left top; float:left; width:110px; height:50px; margin:0px; padding:15px 0 15px 10px;}
.sider_right { background:none; margin:0px; padding:0; width:145px; float:right;}

.siderx_all{ margin:10px 0 0 0; padding:0; clear:both;}
.siderx_left { background:none; float:left; width:90px; height:110px; margin:0px; padding:10px 5px;}
.siderx_right { background:none; margin:0px; padding:20px 0; width:170px; float:right;}
.siderx_right h4{color:#27600c; margin:2px 0;}
.siderx_right img{margin:6px 0 0 0;}

.all_content{float:left; padding:30px; width:880px; margin:0 auto;}
.go{margin:0 20px 0 0; background:#fff url(../images/public/index2007/cv_icon1.gif) no-repeat 5px center; border:solid 1px #8ab711;  padding:5px 5px 3px 30px; font-weight:bold; color:#000;}
.cancel{margin:0 20px 0 0; background:#fff url(../images/public/index2007/cv_icon2.gif) no-repeat 5px center; border:solid 1px #8ab711;  padding:5px 5px 3px 30px; font-weight:bold; color:#000;}
.back{margin:0 20px 0 0; background:#fff url(../images/public/index2007/cv_icon3.gif) no-repeat 4px center; border:solid 1px #8ab711;  padding:5px 0 3px 20px; font-weight:bold; color:#000;}
#greenline ul{list-style:none;}
#greenline li{ background:none; border:solid 2px #339933; padding:1px; margin: 0 20px 20px 0; text-align:center; list-style:none; width:152px; float:left;}
#step1_next {margin-left: 140px;}

/*整合追加*/
a span {
	display: none;
}
a.next {
	background: #FFFFFF url(../images/public/index2007/cv_icon3_next.gif) no-repeat scroll 92%;
	border: 1px solid #8AB711;
	color: #000;
	font-weight: bold;
	margin: 0pt 10px;
	padding: 5px 30px 3px 10px;
	float: left;
	width: auto;
}
a.before{
	background:#fff url(../images/public/index2007/cv_icon3_before.gif) no-repeat scroll 8%; 
	border:solid 1px #8ab711;
	padding: 5px 10px 3px 30px;
	font-weight:bold; 
	color:#000;
	float: left;
	width: auto;
	margin-left: 100px;
}
a.next:hover {
	text-decoration: none;
}
img {
	border:0px;
}
.foot {
	text-align:center;
	margin-top:10px;
}
.foot a {
	margin:10px;
}
.head1 {
	float:right;
}
.head1 a {
	margin:10px;
	color:#407B00;
	text-decoration:none;
}
.head1 a:hover {
	color:#000000;
	text-decoration:none;
}
.head2_a{
	margin-top:15px;
	background:url(../images/public/index/change_a.gif);
}
.head2 .img,.head2_img{
	text-align:center;
	vertical-align:middle;
	padding:0px 0px 3px 0px;
}
.head2 .index_b_div1{
	border:4px solid #555555;
}
.head2 .index_b_div2{
	padding:5px 5px 5px 10px;
	background:url(../images/public/index/green_triangle.gif) no-repeat;
	width:100%;
}
.head2 .index_b_img{
	border:1px solid #FFFFFF;
}
.head2 .index_b_td1{
	border-top:dotted 1px #407B00;
	vertical-align:top;
}
.head2 .index_b_td2{
	border-top:dotted 1px #407B00;
	border-bottom:dotted 1px #407B00;
	vertical-align:top;
}
.head2 .index_b_a:hover {
	color:#FFFFFF;
	text-decoration:none;
}
.head2_title{
	text-align:center;
	font-size:18px;
	font-weight:bold;
	margin:5px 0px 0px 0px;
}
.head2_message{
	margin:0px 20px 0px 20px;
}
.head_js{
	background:#669933;
	color:#FFFFFF;
	height:35px;
	margin-top:5px;
}
.head_js a {
	margin:10px;
	font-size:14px;
	color:#FFFFFF;
	text-decoration:none;
}
.head_js a:hover {
	color:#000000;
	text-decoration:none;
}
.head_js_h {
	background:url(../images/public/index/head_small2.gif);
}
.head_js_h a {
	color:#407B00;
}
.head_js_f {
	background:url(../images/public/index/head_js2.gif);
	border:solid 1px #407B00;
}
.head_js_f a {
	color:#407B00;
}
.head_js .head_l {
	float:left;
	margin:5px 0px 0px 5px;
}
.title {
	background:#669933;
	height:25px;
}
.title a {
	color:#FFFFFF;
}
.title a:hover {
	color:#000000;
}
.title .big {
	color:#FFFFFF;
	font-size:12px;
	font-weight:bold;
	float:left;
	margin:7px 0px 0px 5px;
}
.title .small {
	text-align:right;
	float:right;
	margin:7px 5px 0px 0px;
}
.list .row1 {
	height:30px;
	background-color:#F1F1F1;
}
.list .row2 {
	height:30px;
	background-color:#FAFAFA;
}
.list .title {
	line-height:17px;
	background:url(../ad/images/list_title_bg.gif) repeat-x;
	white-space:nowrap;
	font-weight:bold;
	text-align:center;
}
.list .row_required {
	padding-right: 5px;
	border-right:#990000 solid 2px;
}
.totalStyle {
	float:left;
}
.pageStyle {
	text-align:right;
}
#castroom_con td {
	vertical-align:middle;
	padding:3px 0px 0px 10px;
	height:22px;
	line-height:20px;
}
#castroom_con1 td {
	vertical-align:middle;
	padding:3px 0px 0px 10px;
	height:22px;
	line-height:20px;
}
.page_left {
	float:left;
	margin:15px 0px 0px 0px;
	width:200px;
}
.other_a_w {
	color:#FFFFFF;
	font-weight:bold;
}
.other_a_w:hover {
	color:#000000;
}
.other_a_g {
	color:#407B00;
	font-weight:bold;
}
.other_a_g:hover {
	color:#000000;
}
.news {
	border-bottom:1px solid #CCCCCC;
	background:#f1f3f5;
	width:200px;
	text-align:left;
	margin:0px 0px 5px 0px;
}
.news .titles,.titles {
	font-size:12px;
	font-weight:bold;
	padding:5px 0px 0px 10px;
}
.news .titles a {
	color:#0000ff;
}
.news .titles a:hover {
	color:#000000;
}
.news .more {
	text-align:right;
	margin:0px 10px 5px 0px;
}
.news .more a{
	color:#0000ff;
}
.news .more a:hover {
	color:#000000
}
.logo {
	background-color:#FFFFFF;
}
.no_logo {
	background-color:#FFFFFF;
}
.change {
	width:250px;
	background:#000000;
	text-align:left;
	margin:10px 0px 0px 25px;
}
.adv {
	margin:20px;
}
.adv ul {
	font-size:12px;
	line-height:150%;
}
.adv li {
	list-style-type:none;
	margin-top:10px;
}
.adv a {
	font-size:12px;
	color:#407B00;
}
.adv a:hover {
	color:#000000;
}