/* CSS Document */
body{ background:#f5f6f7; margin:0; padding:0;font-family:Arial, Helvetica, sans-serif; font-size:12px;  color:#333333;}
h1{ font-size:24px; color:#000000; margin:0;}
h2{ font-size:20px; color:#000000; margin:0;}
h3{ font-size:18px; color:#000000; margin:0;}
h4{ font-size:16px; color:#000000; margin:0;}
h5{ font-size:14px; color:#000000; margin:0;}
a{ text-decoration:none; color:#333333;}
a:hover { text-decoration:underline;}
form{margin:0; padding:0;}
input{border: solid 1px #adc29f; color:#000000; font-size:12px; margin:0; padding:0;}
ul{list-style:none; margin:0; padding:0;}
p{ margin:5px 0; padding:0px; }


.wrap{width:966px; margin:0 auto;}

.top{background:url(../images/header_bg.png) no-repeat left top; height:88px; padding:0 10px; }
.top-left{float:left; width:300px; padding:20px 0 0 0;}
.top-right{ float:right;}
.login{background:url(../images/login-bg.gif) right top no-repeat; height:52px; width:532px; padding:5px 0 0 0;}
.login strong{color:#FFFFFF; }
.username{width:130px; float:left; margin:0; padding:0 0 0 10px;}
.key{width:130px; float:left;margin:0;}
.fix{width:70px; float:left;margin:0;}
.fix-img{width:57px; float:left;margin:0; padding:15px 0 0 5px;}
.go{ float:left;margin:0; padding:10px 0 0 17px;}
.red{color:#CC3300;}

.nav{border-bottom:4px #7bb132 solid; border-top:#dfe1d3 1px solid;  background:#f3f4ec; margin:0;  height:35px; margin: 0 0 10px 0; }
.nav ul{ list-style:none;}
.nav li{float:left; border-right:#dfe1d3 solid 1px; font-size:14px; color:#333333; background:#f3f4ec; position:relative;}
.new {position:absolute; top:0px; left:75px;}
.nav li a{float:left; padding:5px 10px; margin:0;  display:block; line-height:25px;  width:80px; text-align:center;color:#333333;}
.nav li a:hover{text-decoration:underline;}
.nav li a.now { background:#5a7f27 url(../images/nav-now.jpg) left top repeat-x;  float:left; margin:0; color:#FFFFFF;  display:block;  width:80px; text-align:center;text-decoration:none; font-weight:bold;line-height:25px;}
.nav li a:hover.now{color:#FFFFFF; text-decoration:none;}

.content{ width:946px; margin:0; padding:0 10px; background:url(../images/BG.gif) repeat-y left top; float:left; }

.content-left{ float:left; width:690px; padding:0 0 0 10px;}
.banner{ height:180px;}

.campain{ width:690px; background:url(../images/campian-bg.gif) no-repeat center bottom; height:235px;line-height:1.4em;}
.campainbt{background:url(../images/ad-bg.gif) left bottom no-repeat; clear:both;padding:5px 0 5px 20px;  margin:5px 0; height:18px; }
.campain h2{  width:300px; float:left;font-size:14px;}
.campain .more{float:right; width:100px; text-align:right; font-size:14px;  font-weight:bold;}
.campain .more a{color:#78b72b; text-decoration:underline;}
.cam {width:335px; margin:0; padding:5px; height:60px; float:left;}
.cam img{width:130px; height:50px; float:left; margin:0 15px 0 0;}

.clear{clear:both;}
.c1{width:210px; float:left; margin:0 30px 0 0;}
.c2{width:210px; float:left;}
.c3{width:210px; float:right;}
.c1 h3,.c2 h3,.c3 h3{background:url(../images/c_bg.gif) left bottom no-repeat; padding:5px 20px; font-size:14px; margin:5px 0;}
.c1 ul, .c2 ul,.c3 ul{padding:5px 10px;}
.c1 li, .c2 li,.c3 li{ line-height:1.5em; background:url(../images/icon1.gif) no-repeat left center; padding:0 0 0 10px;}

.process{ width:670px; background:#f5f6f7; padding:10px; float:left; clear:both;}
.step-bt{width:100px; float:left; text-align:center}
.step-bt h2{font-size:14px; border:dashed #CCCCCC 1px; border-right:none; padding:7px 10px;}
.step-bt-now{background:#FFFFFF; height:20px;}
.step { background:#FFFFFF; width:560px; float:left; padding:0 0 0 10px; text-align:center; }
.step ul{margin:0; padding:5px 0 0 10px; }
.step li{ float:left; margin:0 10px 0 0;}
.step1 {background: url(../images/w1.gif) no-repeat top left; padding:20px 0 4px 20px; height:40px; width:78px; }
.step1 a{color:#ab7700; font-size:14px; font-weight:bold; padding:20px 0 4px 18px;}
.step2 {background: url(../images/w2.gif) no-repeat top left; padding:20px 0 4px 20px; height:40px; width:78px; }
.step2 a{color:#1f6e00; font-size:14px; font-weight:bold; padding:20px 0 4px 18px;}
.step3 {background: url(../images/w3.gif) no-repeat top left; padding:20px 0 4px 20px; height:40px; width:78px; }
.step3 a{color:#0056a5; font-size:14px; font-weight:bold; padding:20px 0 4px 18px;}
.step4 {background: url(../images/w4.gif) no-repeat top left; padding:20px 0 4px 20px; height:40px; width:78px; }
.step4 a{color:#6e0ba4; font-size:14px; font-weight:bold; padding:20px 0 4px 18px;}
.step5 {background: url(../images/w5.gif) no-repeat top left; padding:20px 0 4px 20px; height:40px; width:78px; }
.step5 a{color:#972207; font-size:14px; font-weight:bold; padding:20px 0 4px 18px;}


.content-right{ float:left; width:220px; padding: 0 10px 0 12px;}
.right-banner{margin:10px 0; border:#ebebeb 1px solid; width:218px; }
.right-banner p{padding:10px; line-height:1.5em; text-indent:2em;}
.news, .bbs{ border:#ebebeb 1px solid; width:100%; background:#fbfbfb;}
.news h3, .bbs h3{background: url(../images/right-bg.gif) left top repeat-x; padding:5px 0 5px 10px; color:#6eaa24; font-size:14px;}
.news ul, .bbs ul{padding:5px 10px;}
.news li, .bbs li{ line-height:1.5em; background:url(../images/icon1.gif) no-repeat left center; padding:0 0 0 10px;}

.service{width:926px; padding:0 10px;}
.service h3{background:url(../images/se-bg.gif) left bottom no-repeat; padding:5px 20px; font-size:14px; margin:5px 0;}
.service img{border:1px #f4f4f4 solid; float:left; margin:5px 13px 0 0;}


.bg-bottom{background:url(../images/BG-bottom.gif) no-repeat bottom left; height:30px; width:966px; clear:both;}
.bottom{ clear:both; margin:10px  auto 0 auto; padding:0 10px; background:#FFFFFF url(../images/bottom-bg.jpg) repeat-x left bottom; width:926px;}
.bottom p{text-align:center;}
.bottom a{color:#5d78a5; text-decoration:none;}
.bottom a:hover{text-decoration:underline;}
.links {border-bottom:#CCCCCC 1px solid; padding:5px 0;}

.here{margin:0; padding:5px;  background:#f8f8f8;}
.in-content{ margin:0; float:left; width:690px;}
.in-content h1{padding:10px 0; font-size:20px;}
.in-content td{padding:5px;}

.submenu{ border:#ebebeb 1px solid; width:100%; background:#fbfbfb; margin:0 0 10px 0; }
.submenu h3{background: url(../images/right-bg1.gif) left top repeat-x; padding:5px 0 5px 10px; color:#6eaa24; font-size:14px;}
.submenu ul {padding:0; margin:0;}
.submenu li { background:#f7f7f7 url(../images/right-bg2.gif) left top repeat-x; padding:6px 15px; font-size:14px; margin:0; height:12px; border-bottom:#dfe1d3 1px solid; display:block; font-weight:bold; }
.submenu li a{color:#666666;}

.case{ border:#ebebeb 1px solid; width:100%; background:#fbfbfb;margin:0 0 10px 0;}
.case h3{background: url(../images/right-bg.gif) left top repeat-x; padding:5px 0 5px 10px; color:#6eaa24; font-size:14px;}
.case p { margin:0; padding:10px; line-height:1.5em; }
.case img{width:80px; float:left; margin: 0 8px 0 0;}

.faq{ border:#ebebeb 1px solid; width:98%; background:#fbfbfb; margin:0 0 10px 0; }
.faq h3{background: url(../images/right-bg.gif) left top repeat-x; padding:5px 0 5px 10px; color:#6eaa24; font-size:14px;}
.faq ul{padding:5px 10px;}
.faq li{ line-height:1.5em; background:url(../images/icon1.gif) no-repeat left center; padding:0 0 0 10px;}

.faqlist{margin-bottom:10px; border-bottom:#CCCCCC 1px dashed; padding:5px 0; line-height:1.5em;}
.faqlist h3{font-size:14px;}
.green{ font-weight:bold; color:#6eaa24;font-size:14px;}

.formbg1{ border:#aed436 1px solid; margin:10px auto; width:500px;}
.formbg1 form{width:400px; padding: 10px 40px; margin:0;}
.formbg1 h1{font-size:18px; background:#eef8d5; border-top:#aed436 1px solid; padding:5px; }
textarea{font-size:12px; width:400px; margin:5px 0;}

.formbg2{ border:#edc81e 1px solid; margin:10px auto; width:500px;}
.formbg2 form{width:400px; padding: 10px 40px; margin:0;}
.formbg2 h1{font-size:18px; background:#fef8d0; border-top:#edc81e 1px solid; padding:5px; }
.input{padding: 0 0 5px 0;}
.input-img{border:none;}
.handle{cursor: pointer; *cursor: hand;}
